<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Cart</title>
    <style>
      /* Embedded CSS styles */
      #cart-container {
        font-size: 1.4em; /* Increase the base font size */
      }

      #cart-container ul {
        list-style-type: none;
        padding: 0;
      }

      #cart-container li {
        margin-bottom: 30px; /* Increase space between items */
      }

      #cart-container h3 {
        font-size: 2em; /* Increase heading font size */
        margin-bottom: 10px; /* Space below heading */
      }

      #cart-container p {
        font-size: 1.3em; /* Increase paragraph font size */
        margin-bottom: 15px; /* Space below paragraphs */
      }

      #cart-container form {
        margin-top: 15px; /* Space above form */
        display: inline; /* Display form elements inline */
      }

      #cart-container input[type="number"],
      #cart-container button {
        font-size: 1.2em; /* Adjust form element font size */
        padding: 8px 12px; /* Adjust padding for form elements */
      }

      .category-button {
        font-size: 1.3em; /* Increase button font size */
        display: inline-block; /* Make the button inline */
        padding: 12px 20px; /* Adjust padding for better button size */
        text-decoration: none;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        color: #333;
      }

      .category-button:hover {
        background-color: #ddd;
      }

      .pay-button {
        font-size: 1.5em; /* Increase button font size */
        display: block; /* Make the button block-level */
        width: 100%; /* Full-width button */
        padding: 15px 20px; /* Adjust padding for better button size */
        text-decoration: none;
        background-color: #28a745; /* Green background */
        border: none;
        color: white;
        text-align: center;
        margin-top: 20px; /* Space above the button */
        cursor: pointer;
      }

      .pay-button:hover {
        background-color: #218838; /* Darker green on hover */
      }

      .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Ensure popup is on top */
        display: none; /* Hidden by default */
      }

      .error-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f8d7da;
        color: #721c24;
        padding: 20px;
        border: 1px solid #f5c6cb;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1000; /* Ensure popup is on top */
        display: none; /* Hidden by default */
      }

      .error-popup p {
        margin: 0;
        font-size: 1.2em;
      }

      .error-popup button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #721c24;
        color: white;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Shopping Cart</h1>
    <div id="cart-container">
      <ul>
        <% if (cart && cart.length > 0) { %> <% cart.forEach(function(item) { %>
        <% if (item.quantity > 0) { %>
        <li>
          <h3><%= item.name %></h3>
          <p><strong>Price:</strong> $<%= item.price.toFixed(2) %></p>
          <p><strong>Quantity:</strong> <%= item.quantity %></p>
          <p>
            <strong>Subtotal:</strong> $<%= (item.price *
            item.quantity).toFixed(2) %>
          </p>
          <form
            action="/update_cart"
            method="post"
            onsubmit="return handleFormSubmit(event)"
          >
            <input type="hidden" name="item_name" value="<%= item.name %>" />
            <label>
              <input
                type="number"
                name="new_quantity"
                onkeydown="return standardKeyHandler(this, event) || isNumber(event) && !(this.value.length >= 2);"
                onpaste="return handleNumericPaste(event)"
                onblur="return refillTextBox(this)"
                value="<%= item.quantity %>"
                min="0"
                max="99"
              />
            </label>
            <button type="submit">Update Quantity</button>
            <% if (item.quantity > 0) { %>
            <button
              type="submit"
              formaction="/remove_from_cart"
              formmethod="post"
            >
              Remove
            </button>
            <% } %>
          </form>
        </li>
        <% } %> <% }); %>
        <li>
          <h3>Total</h3>
          <p><strong>Price:</strong> $<%= total %></p>
        </li>
        <% } else { %>
        <li>
          <h3>Your cart is empty</h3>
        </li>
        <% } %>
      </ul>
    </div>
    <a href="/?menu=<%= menuParam %>" class="category-button"
      >Back to Categories</a
    >
    <% if (cart && cart.length > 0) { %>
    <form id="paymentForm" action="/process_payment" method="post">
      <input type="hidden" id="totalInput" name="total" value="<%= total %>" />
      <button type="submit" class="pay-button">Pay</button>
    </form>
    <% } %>

    <div id="paymentSuccessPopup" class="popup">
      <p>Payment Successful!</p>
      <p>Card Number: <span id="cardNumber"></span></p>
      <p>Authorized Amount: <span id="authorizedAmount"></span></p>
      <button onclick="hidePopup('paymentSuccessPopup')">OK</button>
    </div>

    <div id="paymentErrorPopup" class="error-popup">
      <p>Payment Failed!</p>
      <p>Please try again later.</p>
      <button onclick="hidePopup('paymentErrorPopup')">OK</button>
    </div>

    <script>
      function handleFormSubmit(event) {
        event.preventDefault(); // Prevent default form submission

        // Get the form element
        const form = event.target;

        // Get the quantity input value
        const quantityInput = form.querySelector('input[name="new_quantity"]');
        const newQuantity = parseInt(quantityInput.value);

        // If newQuantity is zero, submit to remove_from_cart route instead
        if (newQuantity === 0) {
          form.action = `/remove_from_cart?item_name=${
            form.querySelector('input[name="item_name"]').value
          }`;
          form.method = "POST";
        }

        // Submit the form
        form.submit();
      }

      document
        .getElementById("paymentForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent default form submission

          // Fetch API to send payment request
          fetch("/process_payment", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              total: document.getElementById("totalInput").value,
            }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                // Payment successful, show popup with details
                document.getElementById("cardNumber").textContent =
                  data.cardNum;
                document.getElementById("authorizedAmount").textContent =
                  data.authAmount;
                document.getElementById("paymentSuccessPopup").style.display =
                  "block";
              } else {
                // Payment failed, show error popup
                document.getElementById("paymentErrorPopup").style.display =
                  "block";
              }
            })
            .catch((error) => {
              console.error("Error processing payment:", error);
            });
        });

      // Function to hide any popup by ID
      function hidePopup(popupId) {
        document.getElementById(popupId).style.display = "none";

        // if the ID is the paymentSuccessPopup, redirect to the home page
        if (popupId === "paymentSuccessPopup") {
          window.location.href = "/";
        }
      }
    </script>
  </body>
</html>
